Source: accel-ppp-ipoe-dkms
Maintainer: Dmitry Kozlov <xeb@mail.ru>
Build-Depends: debhelper (>= 10), dkms
Homepage: https://www.accel-ppp.io/

Package: accel-ppp-ipoe-dkms
Architecture: all
Priority: optional
Section: kernel
Depends: dkms (>= 1.95), linux-headers-686-pae | linux-headers-amd64 | linux-headers-generic | linux-headers, ${misc:Depends}
Description: DKMS source for the accel-ppp-ipoe driver
